@media screen and (max-width: 1115px) {
  #iconomenu {
    display: block;
    padding: 20px;
  }
  #correo {
    display: none;
  }
  .correo2 {
    display: block;
    margin: 5px 0px 5px 20px;
  }
  nav {
    position: absolute;
    z-index: 12;
    width: 90%;
    transform: translateX(-100%);
    transition: all 0.5s;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  nav ul li {
    display: block;
    width: 100%;
    border-bottom: 1px dotted white;
  }
  #logossep {
    width: 95%;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .submenu:hover .desplegable {
    display: none;
    position: static;
    padding-left: 20px;
  }
  .sub {
    position: absolute;
    right: 10px;
    z-index: 10;
  }
  #esconder:checked ~ nav {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 900px) {
  #abajo article {
    flex-direction: column;
  }
  #abajo {
    padding: 10px;
  }
}
@media screen and (max-width: 750px) {
  footer {
    line-height: 18px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 20px 10px;
    background-color: var(--azul);
  }
}

@media screen and (max-width: 590px) {
  #abajo {
    flex-direction: column;
  }
  #logoabajo {
    margin: 15px 0px;
  }
}
@media screen and (max-width: 480px) {
  header .contenedor_header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .logogob_header {
    width: 100px;
  }
  header .link_header {
    display: none;
  }
  header .link_header a {
    padding: 10px 15px;
  }
  .contenedor_logos {
    flex-direction: column;
  }
  .iconoscabecera {
    width: 100px;
  }
  .tnm {
    width: 100px;
  }
  #tec {
    width: 50px;
  }
  #mapa {
    margin-top: 10px;
    width: 100%;
    height: auto;
  }

  .contenidomodal {
    width: 95%;
    padding: 10px;
    margin-top: 20%;
  }
  .cerrarmodal {
    right: 20px;
  }
}

@media screen  and (min-width: 768px) {
  .info_cuerpo {
    display: flex;
    gap: 32px;
  }
  .tracks_eventos {
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }
  .premio{
    grid-template-columns: max-content 1fr;
  }
  .info_premio{
    flex-direction: row;
    align-items: center;

  }
}